<h1 class="w-full text-center font-bold text-3xl mt-4"><%= method === :post ? "New Study Set" : "Editing #{study_set.name}" %></h1>
<%= form_with model: study_set, data: {"action" => "submit->new#handleSubmit", controller: "new"} do |form| %>
<div class="fixed flex items-center justify-center top-0 left-0 w-screen h-screen bg-[rgba(50,50,50,0.7)] font-semibold text-xl text-white opacity-70 z-50 hidden" data-new-target="loader">
  <p class="text-center max-w-[300px]">We are translating your data. This may take a moment ✨</p>
</div>
<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 mt-4 mb-8">
  <div class="border rounded bg-base-200 px-4 py-5 sm:px-6">
    <div class="">
      <%= form.text_field :name, class: "input input-bordered w-full font-semibold text-base tracking-wide text-accent-content",
      placeholder: "Study Set Name" %>
    </div>
    <div class="my-6">
      <div class="mt-4 flow-root">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
          >
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-3"
                  >
                    Kanji
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold"
                  >
                    Reading
                  </th>
                </tr>
              </thead>
              <tbody class="" data-new-target="mondaiTable">
                <%= form.fields_for :mondais do |mondai_form| %>
                <tr data-new-target="mondai" class="mondai" data-id="<%= mondai_form.options[:child_index] %>">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-3">
                    <div class="form-control">
                      <%= mondai_form.text_field :kanji, placeholder: "漢字",
                      class: "input input-bordered w-full max-w-xs kanji text-accent-content", data: {action: "input->new#kanjiInput"} %>
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm">
                    <div class="form-control">
                      <%= mondai_form.text_field :yomikata, placeholder:
                      "かんじ", class: "input input-bordered w-full max-w-xs text-accent-content
                      yomikata" %>
                    </div>
                  </td>
                  <td class="">
                    <button type="button" data-action="click->new#delete">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 mr-2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-8">
          <button
            type="button"
            class="btn btn-secondary text-secondary-content"
            data-action="click->new#newWord"
          >
            <span class="mr-4">Add Word</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>
          <%= form.submit "Save", class: "btn btn-accent text-secondary-content"
          %>
        </div>
      </div>
    </div>
  </div>
  <!-- The button to open modal -->
  <div class="mt-4">
    <label for="import-modal" class="link link-secondary">Import From List</label>
  </div>
</div>
<% end %>