<h1 class="text-3xl font-bold text-center"> <%= @study_set.name %> </h1>

<% current_ws = @writing_sessions.last %>
<% percentage = ((current_ws.correct / current_ws.answered.to_f) * 100).round(2).to_s %>
<div data-controller="sessions" class="flex flex-col items-center" data-data="<%= @writing_sessions.map {|ws| {created: ws.created_at.to_i, percentage: ((ws.correct / ws.answered.to_f) * 100).round(2).to_s }}.to_json %>">
  <div class="flex flex-col w-[90%] max-w-[800px] gap-4">
    <div class="w-full bg-base-300 rounded p-2 mt-6">
      <div class="font-semibold">Accuracy: <span data-canvas-target="correctNum"><%= current_ws.correct %></span> out of <span data-canvas-target="totalNum"><%= current_ws.answered %></span></div>
      <div class="font-semibold">Percentage: <span data-canvas-target="percentage"><%= percentage  %>%</span></div>
      <progress class="progress progress-success w-full" value="100" max="100" data-canvas-target="progress"></progress>
    </div>
    <canvas id="chart" data-sessions-target="chartCanvas" class="bg-base-300 p-2 rounded"></canvas>
  </div>
</div>